<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %> aposto an la MeesBet <%= @user_bet.name %> correctamente.</h1>
    <p>
      ud aposto por:
    </p>
    <p>
      El monto aceptado a apostar fue de: <%= @user_bet.gambler_amount %>.
    </p>
    <p>Saludos, contacto MrMeesBet.</p>
  </body>
</html>
