<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>, finalizo la MeesBet <%= @user_bet.name %>.</h1>
    <p>
      ud aposto por:
    </p>
    <p>
      La ganancia obtenida fue de: .
    </p>
    <p>Saludos, contacto MrMeesBet.</p>
  </body>
</html>
