
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>, tu usuario ha sido editado.</h1>
    <p>
      Para poder ver los cambios, sigue el este link: <%= @url %>.
    </p>
    <p>Saludos, contacto MrMeesBet.</p>
  </body>
</html>
