
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Bienvenido <%= @user.name %>,</h2>
    <p>
      Te has registrado exitosamente en nuestra pagina web,
      ahora debes confirmar ingresando al siguiente link:
    </p>
    <p>
      <%= confirm_email_user_url(@user.confirm_token) %>
    </p>
    <p>Gracias por unirte a nosotros!</p>
  </body>
</html>
