
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Bienvenido a, <%= @user.name %></h2>
    <p>
      Te has registrado exitosamente en nuestra pagina web,
      tu usuario es: <%= @user.username %>.<br>
    </p>
    <p>
      Para ingresar a la aplicación, sigue este link: <%= @url %>.
    </p>
    <p>Gracias por unirte a nosotros!</p>
  </body>
</html>
