<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %> aposto al grand <%= @grand.id %> correctamente.</h1>
    <p>
      sus apuestas fueron por:
      <ul>
        <% @bets.each do |bet| %>
          <li><%= "bet numero #{bet.id}: #{Competitor.find(bet.selection).name}" %></li>
        <% end %>
      </ul>
    </p>
    <p>
      El monto apostado fue de <%= @grand.amount %>.
    </p>
    <p>Saludos, contacto MrMeesBet.</p>
  </body>
</html>
