<%= provide(:title, 'Editar usuario') %>
<%= provide(:header, 'Editar usuario') %>
<div class="pull-right">
  <%= link_to 'Volver atras', user_path(@user), class: 'btn-primary' %>
</div>

<div class="edit-profile">
  <%= render 'form', user: @user, edit: true %>
</div>
