<%= provide(:title, 'Notificaciones') %>
<%= provide(:header, 'Notificaciones') %>

<div class="meesbets">
  <% @notifications.each do |bet| %>
    <% if bet.bet_limit > 0 && DateTime.current < bet.start_date %>
      <%= render 'pages/bet_show', bet: bet, return_path: '/bet_list', button_name: 'Aceptar apuesta', assignation: 3 %>
    <% end %>
  <% end %>
</div>
