<%= provide(:title, 'Notificaciones') %>
<%= provide(:header, 'Notificaciones') %>

<div class="meesbets">
  <% @notifications.each do |bet| %>
    <%= render 'pages/bet_show', bet: bet, return_path: '/bet_list', button_name: 'Aceptar apuesta', assignation: 3 %>
  <% end %>
</div>
