<%= provide(:title, 'Asignaciones') %>
<%= provide(:header, 'Mis Asignaciones') %>

<div class="assignation-index">
  <div class="left-bets meesbets">
    <h3> Apuestas esperando resultado</h3>
    <% @result_assignations.each do |bet| %>
      <%= render 'bet_show', bet: bet, return_path: '/assignations', button_name: 'Decidir ganador', assignation: 2%>
    <% end %>
  </div>

  <div class="right-bets meesbets">
    <h3> Apuestas esperando ser aprobadas</h3>
    <% @pending_assignations.each do |bet| %>
      <%= render 'bet_show', bet: bet, return_path: '/assignations', button_name: 'Decidir ganador', assignation: 1%>
    <% end %>
  </div>
</div>
