<%= provide(:title, 'Asignaciones') %>
<%= provide(:header, 'Mis Asignaciones') %>

<div class="meesbets">
  <% @assignations.each do |bet| %>
    <%= render 'bet_show', bet: bet, return_path: '/assignations', button_name: 'Decidir ganador'%>
  <% end %>
</div>
