// Place all the styles related to the Bets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.competitors {
    border: 1px solid black;
    p {
      padding: 0.5em;
      margin: 0;
    }
}

/*** Bets search ***/

.bets-search {
  margin: 10px 20px;
  display: inline-block;
  padding: 10px;
  width: 20%;
  float: left;
  border: 2px solid black;
  border-radius: 10px;

  .form-group {
    padding: 5px;

    input, label {
      width: 100%;
    }
    input[type='number'] {
      width: 35%;
      margin-right: 20px;
    }

    input[type="text"], input[type='number'] {
      border: none;
      border-bottom: solid 2px #c9c9c9;
      transition: border 0.3s;
    }

    input[type="text"]:focus, input[type='number']:focus {
      border-bottom: solid 2px #969696;
    }

    input[type="submit"] {
      box-sizing: border-box;
    }

  }
}

/*** Table Styles **/

.bets-form {
  margin: 10px 0px;
  float: left;
  width: 70%;

  .bets-status {
    position: fixed;
    width: 10%;
    right: 0;
    z-index: -1;
    margin-right: 10%;

    input {
      width: 80%;
      padding: 0;
      margin: 0;
    }
  }

  .bets-index {
    display: inline-block;
    width: 80%;
    float: left;

    .bets-table {
      width: 90%;
      margin: auto;
      border-radius:3px;
      border-collapse: collapse;
      padding: 5px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

      th {
        color: #fff;
        background: #1b1e24;
        border-bottom: 4px solid #9ea7af;
        border-right: 1px solid #343a45;
        font-size: 1.5em;
        padding: 10px;
        text-align: center;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        vertical-align: middle;
      }

      th:first-child {
        border-top-left-radius:3px;
      }

      th:last-child {
        border-top-right-radius:3px;
        border-right:none;
      }

      tr {
        border-top: 1px solid #C1C3D1;
        border-bottom: 1px solid #C1C3D1;
        color:#000;
        font-size:16px;
        font-weight:normal;
        text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
      }

      tr:first-child {
        border-top:none;
      }

      tr:last-child {
        border-bottom:none;
      }

      tr:nth-child(odd) td {
        background:#EBEBEB;
      }

      tr:last-child td:first-child {
        border-bottom-left-radius:3px;
      }

      tr:last-child td:last-child {
        border-bottom-right-radius:3px;
      }

      td {
        background: #FFFFFF;
        padding: 15px 10px;
        vertical-align:middle;
        font-size: 1em;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
        border-right: 1px solid #C1C3D1;
      }

      td:last-child {
        border-right: 0px;
      }

      th.text-left {
        text-align: left;
      }

      th.text-center {
        text-align: center;
      }

      th.text-right {
        text-align: right;
      }

      td.text-left {
        text-align: left;
      }

      td.text-center {
        text-align: center;
      }

      td.text-right {
        text-align: right;
      }

      select {
        width: 90%;
      }
    }

  }

}
