$header_color: rgba(18, 18, 18, 0.83);

body {
  padding-top: 100px;
}

/* Header */

header {
  background-color: $header_color;
  overflow: hidden;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;

  a {
    text-decoration: none;
    color: #fff;

    h1 {
      padding: 10px;
    }
  }

  nav {
    background-color: rgba(47, 47, 47, 0.7);
    border-radius: 0px 0px 10px 10px;
    a {
      display: inline-block;
      padding: 0;
      color: #fff;
      p {
        margin: 1em;
      }
    }
    a:hover {
        background-color: black;
        text-decoration: none;
    }
  }
}


/* Footer */

footer {
  position: fixed;
  height: 2em;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: $header_color;
  text-align: center;
}
