/******************************************************************************/
/************************++* Variables ****************************************/
/******************************************************************************/

$header_color: rgb(18, 18, 18);
$header_height: 80px;
$header_div_height: 50px;
$header_nav_height: $header-height - $header_div_height;

$alert_color: #f44336;
$notice_color: orange;
$succes_color: green;

/******************************************************************************/
/************************++* Body *********************************************/
/******************************************************************************/

body {
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;

  h2 {
    margin: 0;
  }
}

/******************************************************************************/
/************************++* Header *******************************************/
/******************************************************************************/

.pull-right {
	float: right;
  margin: 0% 5% 0% 0%;
}

header {
  background-color: $header_color;
  width:100%;
  position:fixed;
  height: $header_height;
  top:0px;

  a {
    text-decoration: none;
    color: #fff;
  }

  div {
    box-sizing: border-box;
    min-width: 210px;
    padding: 10px 0px 0px 10px;
    height: $header_div_height;

    .page-logo {
      padding: 10px;
      margin: 0px 10px;
    }
  }

  nav {
    background-color: $header_color;
    height: $header_nav_height;
    width: 100%;

    ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 12%;

    li {
        float: left;
        padding: 0px 15px;

        a {
            display: block;
            color: white;
            text-align: center;
            text-decoration: none;
        }

        a:hover {
            background-color: none;
            color: #9A9290;
        }

      }
    }
  }
}

/******************************************************************************/
/************************++* Alerts *******************************************/
/******************************************************************************/

.alert {
  padding: 10px;
  color: white;
  margin: 5px 0px;
  border-radius: 10px;
}

.alert-notice {
  background-color: $notice_color;
}

.alert-alert {
  background-color: $alert_color;
}

.alert-success {
  background-color: $succes_color;
}

/******************************************************************************/
/************************++* Tab **********************************************/
/******************************************************************************/

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: inline-block;

    button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        margin: 0;
    }

    button:hover {
        background-color: #ddd;
    }

    button.active {
        background-color: #ccc;
    }
}

/******************************************************************************/
/************************++* Jumbotron ****************************************/
/******************************************************************************/

.title-header {
  width: 60%;
  padding-top: 110px;
  margin: auto;
}

.jumbotron {
  overflow: hidden;
  margin: auto;
  width: 90%;
  padding: 20px 0px 100px;
}

/******************************************************************************/
/************************++* Footer *******************************************/
/******************************************************************************/

footer {
  position: fixed;
  height: 2em;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: $header_color;
  text-align: center;

  .footer-nav-left {
    float: left;
    padding-right: 20px;

    a {
    color: #fff;
    text-decoration: none;
    padding: 0px 10px;
    }
    a:hover {
        background-color: none;
        color: #9A9290;
    }
  }

  .footer-nav {
    float: right;
    padding-left: 20px;

    a {
    color: #fff;
    text-decoration: none;
    padding: 0px 10px;
    }
    a:hover {
        background-color: none;
        color: #9A9290;
    }

  }
}

/******************************************************************************/
/************************++* Forms *******************************************/
/******************************************************************************/

.form-group {
  margin: 10px 0px;
  width: 90%;
  margin: 0px auto;
  label {
    display: inline-block;
    width: 45%;
    text-align: left;
    vertical-align: top;
    margin: 2px 0px;
  }
  input, textarea {
    width: 45%;
  }
  input, select {
    margin-bottom: 10px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/******************************************************************************/
/************************++* Dropdown menu ************************************/
/******************************************************************************/


.dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
}

.dropbtn:hover {
  text-decoration: none;
}

.dropdown-content {
  margin: 5px 0px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  li {
    padding: 0;
    width: 100%;
  }
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
