$light_grey: rgba(47, 47, 47, 0.7);;

th {
  text-align: left;
  width: 200px;
}

header {
  background-color: $light_grey;
  overflow: hidden;
}

nav {
  background-color: $light_grey;
}

h1 {
  margin: 1em;
  color: lightblue;
}

nav a {
    display: inline-block;
    padding: 0;

}

nav a p {
  margin: 1em;
  color: lightblue;
}
