
/* Base table style -------------------------------------------------------- */

th {
  text-align: left;
  width: 200px;
}

/* Follow relations index -------------------------------------------------- */

.follow-table {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

/* MeesBets index ---------------------------------------------------------- */

.meesbet-search {
  margin: 30px 20px;
  padding: 10px;
  width: 30%;
  height: 40%;
  max-height: 300px;
  max-width: 300px;
  float: left;
  position: fixed;
  border: 2px solid black;
  border-radius: 10px;

  form {
    height: 90%;

    .form-group {
      height: 15%;
      padding: 10px;

      label, input {
        width: 90%;
      }

      input[type='number'] {
        width: 35%;
        margin-right: 20px;
      }

      input[type="text"], input[type='number'] {
        border: none;
        border-bottom: solid 2px #c9c9c9;
        transition: border 0.3s;
      }

      input[type="text"]:focus, input[type='number']:focus {
        border-bottom: solid 2px #969696;
      }

      input[type="submit"] {
        box-sizing: border-box;

      }
    }
  }
}


.meesbets {
  float: right;
  width: 65%;
}

.meesbets-content {
    margin: 30px;
    padding: 20px;
    width: 60%;
    max-width: 500px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #c0c0c0;

    table {
        margin: auto;
    }

    form {
      input[type="submit"] {
        -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
      	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
      	box-shadow:inset 0px 1px 0px 0px #ffffff;
      	background:-webkit-gradient(linear, left top, left bottom,
                                    color-stop(0.05, #ffffff),
                                    color-stop(1, #ededed));
      	background:-moz-linear-gradient(top, #ffffff 5%, #ededed 100%);
      	background:-webkit-linear-gradient(top, #ffffff 5%, #ededed 100%);
      	background:-o-linear-gradient(top, #ffffff 5%, #ededed 100%);
      	background:-ms-linear-gradient(top, #ffffff 5%, #ededed 100%);
      	background:linear-gradient(to bottom, #ffffff 5%, #ededed 100%);
      	filter:progid:DXImageTransform.Microsoft.gradient(
            startColorstr='#ffffff',
            endColorstr='#ededed',
            GradientType=0
        );
      	background-color:#ffffff;
      	-moz-border-radius:6px;
      	-webkit-border-radius:6px;
      	border-radius:6px;
      	border:1px solid #dcdcdc;
      	display:inline-block;
      	cursor:pointer;
      	color:#1f1c1f;
      	font-family:Arial;
      	font-size:15px;
      	font-weight:bold;
      	padding:6px 57px;
      	text-decoration:none;
      	text-shadow:0px 1px 0px #ffffff;
      }
    }
}
