// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bets {
    border: 1px solid black;
    margin: 0px 0px 10px;

    p {
      padding: 0.5em;
      margin: 0;
    }
}
