// Place all the styles related to the UserBets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.meesbet-index {
  width: 90%;
  margin: 50px auto;
}

div.meesbet-show {
  width: 50%;
  margin: 50px auto;
}

div.pull-right {
  form {
    display: inline-block;
    border: 1px solid #999;
    margin: 0px 10px;

    input[type="submit"] {
      padding: 5px;
      background-color: #ccc;
      border: none;
      border: 1px solid black;
      border-radius: 2px;
      font-size: 1em;
    }

    input[type="submit"]:hover {
      background-color: #bbb;
    }

    input[type="submit"]:active {
      background-color: #999;
      color: inherit;
    }
  }
}

.invite-form {
  select {
    -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #000;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 200px;
   margin: 0px 5px;
  }
}
