<footer>
  <div class="footer-nav">
    <%= link_to 'Relaciones de amistad', follow_path %>
    <%= link_to 'Solicitudes de amistad', accept_follow_path %>
  </div>
>>>>>>> mejorar-manejo-sesiones
</footer>
