<header class="header">
  <div>
    <%= link_to root_path do %>
      <h2 class="page-logo">Mr. MeesBet</h2>
    <% end %>
  </div>
  <nav>
    <ul>
      <li><%= link_to 'Usuarios', users_path %></li>
      <li><%= link_to 'MeesBets', user_bets_path %></li>
      <li><%= link_to 'Aceptar una MeesBet',bet_list_path %></li>
    </ul>
  </nav>
</header>
