<header class="header">
  <div>
    <%= link_to root_path do %>
      <h1>Mr. MeesBet</h1>
    <% end %>
  </div>
  <nav>

    <%= link_to users_path do %>
      <p>Usuarios</p>
    <% end %>

    <%= link_to user_bets_path do%>
      <p>MeesBets</p>
    <% end %>

    <%= link_to bet_list_path do%>
      <p>Take a meesbet</p>
    <% end %>

  </nav>
</header>
